<section class="page_title page_title_mini">
    <div class="container clearfix">
        <h2>Carrinho de Compras</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">Página Inicial</a>
            </li>
            <li>
                Carrinho de Compras
            </li>
        </ol>
    </div>
</section>
<section id="page_content">
    <div class="wrap_content">
        <div class="container clearfix">
            <ul class="menu_steps clearfix">
                <li>
                    <a class="step_icon fa fa-database" href="#"></a>
                    <h5>Configurar Produto</h5>
                </li>
                <li class="active">
                    <a class="step_icon fa fa-shopping-cart" href="#"></a>
                    <h5>Revisar Compra</h5>
                </li>
                <li>
                    <a class="step_icon fa fa-user" href="#"></a>
                    <h5>Identificação</h5>
                </li>
                <li>
                    <a class="step_icon fa fa-money" href="#"></a>
                    <h5>Efetuar Pagamento</h5>
                </li>
                <li>
                    <a class="step_icon fa fa-check" href="#"></a>
                    <h5>Produto Liberado</h5>
                </li>
            </ul>
        </div>
        <div class="container clearfix">
            <div class="table-responsive mb_40 mt_60">
                <table class="table table_cart">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Produto</th>
                            <th class="text-center">Preço Unitário</th>
                            <th class="text-center">Quantidade</th>
                            <th class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a title="Remove this item" href="#" class="">
                                    <i class={{model.icon}}></i>
                                </a>
                            </td>
                            <td class="icon_cart">
                                <i style="font-size:40px;" class="fa fa-cloud"></i>
                            </td>
                            <td class="name_item_cart">
                                <a href="#">
                                  {{model.product}}
                                </a>
                            </td>
                            <td class="text-center">
                                <span>
                                  {{model.unity}}
                                </span>
                            </td>
                            <td class="text-center">
                                <div class="quantity_item_cart clearfix">
                                    <input type="button" value="-" class="less">
                                    <input type="text" value={{model.qty}} disabled="" class="qty_item">
                                    <input type="button" value="+" class="add">
                                </div>
                            </td>
                            <td class="text-center">
                                <span>
                                  {{model.total}}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <div class="row clearfix">
                                    <div class="col-md-7 col-xs-4">
                                        <div class="col-md-3">
                                            <span>Possui um cupom?</span>
                                        </div>
                                        <div class="col-md-4 col-xs-7">
                                            <input type="text" class="form-control">
                                        </div>
                                        <div class="col-md-4 col-xs-5">
                                            <a href="#" class="btn btn-default">Aplicar Cupom</a>
                                        </div>
                                    </div>
                                    <div class="col-md-5 col-xs-8">
                                        <a href="#" class="btn btn-success pull-right">Finalizar Compra</a>
                                        <a href="#" class="btn btn-primary pull-right mr_20">Continuar Comprando</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container clearfix">
            <div class="row">
                <div class="col-md-6 col-md-offset-6 clearfix">
                    <div class="table-responsive">
                        <h4>Total no Carrinho</h4>
                        <table class="table table_cart">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>Subtotal no Carrinho</strong>
                                    </td>
                                    <td>
                                        <span>
                                          R$ 224,93
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Total</strong>
                                    </td>
                                    <td>
                                        <span class="total_value">
                                            <strong>
                                            R$ 224,93
                                            </strong>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>